<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid ">
        <div class="row m-3">
            <h2>Dettaglio Attività</h2>
        </div>

        <div class="row m-3">

            <div class="col-2 float-left w-auto">
                <form action="#" th:if="${!iscritto}" th:action="@{/dettaglioAttivita/subscribe?id=}+${activity.id}"
                    method="post">
                    <button type="submit" class="btn btn-primary">Iscriviti</button>
                </form>

                <form action="#" th:if="${iscritto}" th:action="@{/dettaglioAttivita/unsubscribe?id=}+${activity.id}"
                    method="post">
                    <button type="submit" class="btn btn-primary">Cancellati</button>
                </form>

            </div>

            <div class="col-3  float-right">
                <div class="alert alert-primary" role="alert" th:if="${msg != null}">
                    <p th:text="${msg}">Example text for confirmation page</p>
                </div>
            </div>

            <div class="col-5 m-3">
                <div class="row">

                    <div class="col-6">
                        <div th:if="${msg1 != null}">
                            <p th:text="${msg1}">Example text for confirmation page</p>
                        </div>
                    </div>

                    <div class="col-6 float-right">


                        <form action="#" th:if="${organizer}"
                            th:action="@{/dettaglioAttivita/deleteActivity?id=}+${activity.id}" method="post">
                            <button type="submit" class="btn btn-danger">Cancella Attività</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="row m-3">
            <table class="table table-primary table-striped table-hover col-5">

                <caption>List of users</caption>

                <thead>

                    <tr>
                        <th scope="col">
                            <p>#</p>
                        </th>

                        <th scope="col">
                            <p>Name</p>
                        </th>

                        <th scope="col">
                            <p>Surname</p>
                        </th>

                        <th scope="col">
                            <p>Organizer</p>
                        </th>
                    </tr>

                </thead>


                <tbody>
                    <div th:each="userActivity : ${userOfActivities}">

                        <tr>
                            <th scope="row">#</th>
                            <td th:text="${userActivity.user.name}">Tb data</td>
                            <td th:text="${userActivity.user.surname}">Tb data</td>

                            <td th:if="${userActivity.organizer}">*</td>

                        </tr>

                    </div>
                </tbody>


            </table>

            <div class="col-5 m-3">
                <p th:text="${activity.descrizione}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                    incidunt cumque nostrum dolorum saepe? Aliquid dignissimos, similique hic assumenda corporis,
                    quibusdam maiores nulla eligendi beatae optio aut perferendis provident possimus.</p>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>