<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Bacheca UniCollege - Registration Page</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Others Style sheet -->
</head>

<body class="text-center">

	<div class="text-center form-group d-inline-flex flex-column mt-5">

		<div class"font-weight-bold">
			<h3>Registrazione Bacheca UniCollege</h3>
		</div>

		<div class="container w-75">
			<form action="#" th:action="@{/registration}" th:object="${registrationRequest}" method="post"
				class="text-left">

				<div class="form-group">
					<label for="name">Nome</label>
					<input type="text" class="form-control" id="name" aria-describedby="emailHelp" th:field="*{name}"
						required>

				</div>

				<div class="form-group">
					<label for="surname">Cognome</label>
					<input type="text" class="form-control" id="surname" aria-describedby="emailHelp"
						th:field="*{surname}" required>

				</div>

				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" th:field="*{email}" required>
					<small id="emailHelp" class="form-text text-muted">La tua email verrà usata per accedere al
						portale.</small>
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control" id="password" th:field="*{password}" required>
					<small id="passwordHelp" class="form-text text-muted">La password deve contenere:
						<ul>
							<li>Almeno 8
								caratteri.</li>
							<li>Lettere maiuscole e minuscole.</li>
							<li>Numeri e caratteri speciali.</li>
						</ul>
					</small>
				</div>

				<div class="form-group">
					<label for="password">Conferma Password</label>
					<input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}"
						required>
				</div>

				<div class="form-group">
					<div th:if="${error}" class="alert alert-danger d-inline-flex" role="alert">
						<div th:text="${error}">ERRORE GRAVE</div>
					</div>
				</div>

				<div class="form-group  text-right">
					<button type="submit" onclick="ansValidation(event)" class="btn btn-primary">Registrati</button>

				</div>

			</form>
		</div>

		<p class="mt-5 mb-3 text-muted text-lg-center text-md-center text-sm-center">Powered by Vector
			Code</p>

	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script>
		function ansValidation(ev) {
			ev.preventDefault

			var passValue = document.getElementById("password").value
			var confpassValue = document.getElementById("confirmPassword").value
			// the typeof operator returns a string.

			if (passValue !== confpassValue) {
				window.alert("Le passwords non sono uguali!")
			} else if (!(passValue.length >= 8)) {
				window.alert("La password deve contenere almeno 8 caratteri")
			} else if (passValue.match(/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\!\@\#\$\%\&\*\(\)\_\+\=\|\<\>\?\{\}\\\[\]\~\-])$/)) {
				window.alert("La password deve contenere almeno una lattera minuscola, una maiuscola, un numero e un carattere speciale!")
			}
		}
	</script>

</body>

</html>